.navbar {
  width:100%;
  background:none !important;

  @media(max-width: 34em) {
    background: black !important;
  }

  #navbarSupportedContent {
    border-bottom: 1px solid silver;
  }
  .navbar-toggler {
    cursor:pointer;
    outline:0;
  }

  .nav-link {
    text-transform:uppercase;
    font-weight:bold;
  }

  .nav-item {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-bottom: 1rem;

    @media(max-width: 34em) {
      padding: 0;
    }

    .nav-link {
      text-align: center;
      border-radius: 10px;
      border: 1px solid silver;
      width: 140px;
      height: 40px;

      @media(max-width: 34em) {
        font-weight:normal;
        color:#fff !important;
      }
    }
  }
  .nav-item:last-child {
    padding-right: 0;
  }
  .nav-item:nth-child(3) {
    padding-right: 3rem;
  }
}

.vcelicky-button {
  border:none;
  display:inline-block;outline:0;
  padding:8px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:inherit;
  text-align:center;
  cursor:pointer;
  white-space:nowrap
}

.vcelicky-black {
  color:#fff!important;
  background-color:#000!important
}

.vcelicky-display-right {
  position:absolute;
  top:50%;
  right:0;
  transform:translate(0,-50%);
  -ms-transform:translate(0%,-50%)
}

.vcelicky-display-left {
  position:absolute;
  top:50%;left:0;
  transform:translate(0%,-50%);
  -ms-transform:translate(-0%,-50%)
}

.vcelicky-center {
  text-align:center!important
}

.vcelicky-display-container {
  position:relative
}

.vcelicky-content {
  max-width:980px;
  margin:auto
}

// users window

#search {
  position: relative;
  font-size: 18px;
  padding-top: 40px;
  margin: -20px auto 0;

  label {
    position: absolute;
    left: 17px;
    top: 45px;
  }

  #search-input {
    padding-left: 43px;
    padding-right: 43px;
    border-radius: 23px;
  }

  #search-clear {
    text-decoration: none;
    position: absolute;
    right: 18px;
    top: 50px;
    color: #b3b3b3;
  }
}

#filter {
  padding: 10px 10px;
  float: right;
}
// Footer
#footer-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px 0;
  margin: 0 0.5px;
  background-color: #ededed !important;
  font-size: 9px;
  .copyright {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    color: #aaa;
    padding: 0;
    margin: 0;
  }
  .design {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    color: #aaa;
    padding: 0;
    margin: 0;
    text-align: right;
    @media only screen and (max-width: 580px) and (min-width: 300px) {
      text-align: left;
    }

    a {
      color: #fff;
    }
  }
}