.navbar {
  width: 100%;
  background: none !important; }
  @media (max-width: 34em) {
    .navbar {
      background: black !important; } }
  .navbar #navbarSupportedContent {
    border-bottom: 1px solid silver; }
  .navbar .navbar-toggler {
    cursor: pointer;
    outline: 0; }
  .navbar .nav-link {
    text-transform: uppercase;
    font-weight: bold; }
  .navbar .nav-item {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-bottom: 1rem; }
    @media (max-width: 34em) {
      .navbar .nav-item {
        padding: 0; } }
    .navbar .nav-item .nav-link {
      text-align: center;
      border-radius: 10px;
      border: 1px solid silver;
      width: 140px;
      height: 40px; }
      @media (max-width: 34em) {
        .navbar .nav-item .nav-link {
          font-weight: normal;
          color: #fff !important; } }
  .navbar .nav-item:last-child {
    padding-right: 0rem; }
  .navbar .nav-item:nth-child(3) {
    padding-right: 3rem; }

.vcelicky-button {
  border: none;
  display: inline-block;
  outline: 0;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap; }

.vcelicky-black {
  color: #fff !important;
  background-color: #000 !important; }

.vcelicky-display-right {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%); }

.vcelicky-display-left {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%); }

.vcelicky-center {
  text-align: center !important; }

.vcelicky-display-container {
  position: relative; }

.vcelicky-content {
  max-width: 980px;
  margin: auto; }
